@font-face {
    font-family: "Bebas Neue";
    src: url('../assets/fonts/bebas_neue/BebasNeue-Regular.eot');
    src: url('../assets/fonts/bebas_neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", Arial, serif;
    /*background-color: wheat;*/
}

